@import "../../styles/mixin";

.login-page {
  @include wh(100%, 100%);

  .center_title {
    text-align: center;
  }

  .login_form {
    margin: 20px 50px 20px 50px;

    .submitBtn {
      margin-top: 50px;
    }
  }
}
